.control_box {
	@include position-translate(absolute, $t: 50%, $l: 0, $x: 0, $y: -50%);
	text-align: center;
	width: 72px;
	z-index: 11;

	button {
		width: 72px;
		height: 72px;

		&.control_text {
			margin-top: 24px;
		}
		& + .control_btn {
			margin-top: 13px;
		}
	}
}
