.info_wrap {
	position: fixed;
	bottom:0;
	left: 0;

	.info_box {
		display: flex;
		align-items: center;
		padding: 12px;
		background: $brand2;
		font-size:30px;
		font-weight: 600;
		border-radius: 10px 10px 0 0;

		&__icon {
			display: flex;
			align-items: center;
			justify-content: center;
			@include box-circle(56px);
			margin-right:  17px;
			background: #fff;
		}
		&__txt {
			width: calc(100% - 76px);

			p {
				@include dot(1);
			}
		}
	}
}
