.introduce_page {
	.eroom_box {
		padding: 78px 120px 57px;
		background: #fff;
		font-size: 1.75rem; /* 28px */

		.title {
			font-size: 2.75rem; /* 44px */
			font-weight: 700;
		}
		.eroom_intro {
			margin: 42px 0 60px;
		}
		.history_list {
			line-height: 56px;

			span {
				margin-right: 20px;
			}
		}
	}
	.room_box,
	.convenience_box {
		display: flex;
		flex-wrap: wrap;

		.box {
			text-align: center;
			width: calc((100% / 3) - 16px);
			height: 100%;
			max-height: 472px;
			margin: 0 8px 16px;
			padding: 24px 24px 32px;
			border: 1px solid rgba(196, 196, 196, 0.45);
			border-radius: 8px;
			overflow: hidden;

			button {
				width: 100%;
			}
			img {
				width: 100%;
				height: 320px;
			}
			figcaption {
				margin: 24px 0 12px;
				font-size: 1.75rem; /* 28px */
			}
			p {
				min-height: 28px;
				font-size: 1.5rem; /* 24px */
				font-weight: 600;
				color: #2460AF;
			}
		}
	}
}
.room_detail {
	.popup_box {
		&__header {
			text-align: left;
		}
		&__container {
			display: flex;

			& > section {
				//width: calc(100% / 2);
			}
			.tab_box {
				flex: .6;
				display: flex;
				flex-direction: column;
				overflow: hidden;

				.room_view {
					width: 100%;
					//height: 447px;
					overflow: hidden;

					img {
						width: 100%;
					}
				}
				.rooms {
					height: 120px;
					margin: 24px 0 0;

					.slick-track {
						display: flex;
						justify-content: center;
						width: 100% !important;
					}
					.slick-slide {
						width: calc((100% / 6) - 13px) !important;

						& + .slick-slide {
							margin-left: 13px;
						}
						img {
							width: 100%;
							height: auto;
							object-fit: cover;
						}
					}
				}
			}
			.room_introduction {
				flex: 1;
				padding-left: 40px;
				font-size: 3.25rem; /* 52px */
				overflow-y: scroll;

				.title {
					margin-top: 72px;
					padding: 5px 0 5px 70px;
					font-size: 2.5rem; /* 40px */
					background: url('/assets/images/logo_symbol.svg') no-repeat center left / 53px;

					&.first_title {
						margin-top: 0;
					}
				}
				.sub_title {
					margin-top: 81px;
					font-size: 2.188rem; /* 35px */
				}
				.info {
					margin-top: 62px;
					font-size: 1.5rem; /* 24px */
					font-weight: 400;
				}
				.vat {
					text-align: right;
					margin-top: 31px;
					font-size: 1.5rem; /* 24px */
					font-weight: 400;
				}
				table {
					text-align: center;
					width: 100%;
					margin-top: 35px;

					thead {
						th {
							padding: 20px 27px 15px;
							font-size: 2rem; /* 32px */
						}
					}
					tbody {
						tr:first-child th,
						tr:first-child td {
							border-top: 1px solid #2460AF;
						}
						th {
							padding: 20px 27px 18px;
							font-size: 1.75rem; /* 28px */
							background: rgba(#C4C4C4, .2);
						}
						td {
							border: 1px solid rgba(#C4C4C4, .2);
							border-left: 0;
							border-top: 0;
							padding: 20px 27px 18px;
							font-size: 1.75rem; /* 28px */
							font-weight: 400;

							p {
								font-size: 1.75rem;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}
}
