.wrapper {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	background: #EEEEEE;

	& > section {
		position: relative;
	}
	.container_wrap {
		width: calc(100% - 482px);
		padding-left: 25px;
		overflow: hidden;

		.logo_wrap {
			position: absolute;
			top: 58px;
			left: 46px;
		}
		.content_wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
		.navigation_wrap {
			@include position-translate(absolute, $b: 101px, $l: 50%, $x: -50%, $y: 0);

			.gnb_wrap {
				position: relative;
				display: flex;

				& > .gnb {
					text-align: center;
					width: 281px;
					height: 102px;
					line-height: 102px;
					font-size: 36px;

					& + .gnb:before {
						@include position-translate(absolute, $t:  50%, $l: 0, $x: 0, $y: -50%);
						content: '';
						width: 1px;
						height: 31px;
						background: $light;
					}
					&:first-child {
						width: 102px;
					}
					&.active {
						background: $warning;
					}
					&.floor {
						/*
						&:after {
							content: '';
							@include position-translate(absolute, $t: -87px, $l: 50%, $x: -50%, $y: 0);
							background: #fff;
							box-shadow: $box-shadow;
							width: 0px;
							height: 0px;
							border-top: 21px solid transparent;
							border-bottom: 21px solid #fff;
							border-right: 21px solid #fff;
							border-left: 21px solid  transparent;
							transform: rotate(45deg);
						}
						*/
					}
					a {
						display: block;
					}
				}
			}
			.lnb_wrap {
				@include position-translate(absolute, $t: -106px, $l: 50%, $x: -50%, $y: 0);
				display: flex;
				align-items: center;
				height: 88px;
				padding: 8px 7px;
				overflow: hidden;

				& > .lnb {
					width: 88px;
					height: 72px;
					line-height: 72px;
					font-size: 30px;
					font-weight: 800;
					border-radius: 3px;

					&.active {
						background: $warning;
					}
					a {
						display: block;
					}
				}
			}
			#introduce {
				.lnb_wrap {
					.lnb {
						width: 235px;
					}
				}
			}
		}
		.control_wrap {
			@include position-translate(absolute, $t: 50%, $l: 25px, $x: 0, $y: -50%);
			text-align: center;
			width: 88px;
			z-index: 11;

			.control_box {

				button {
					width: 88px;
					height: 88px;

					&.control_text {
						width: 88px;
						margin-top: 16px;
					}
				}
			}
		}
		.info_wrap {
			@include position-translate(absolute, $b:0, $l:50%, $x:-50%, $y:0);
			width: 98%;

			.info_box {
				display: flex;
				align-items: center;
				padding: 12px;
				background: $warning;
				font-size:30px;
				border-radius: 10px 10px 0 0;

				&__icon {
					display: flex;
					align-items: center;
					justify-content: center;
					@include box-circle(56px);
					margin-right:  17px;
					background: #fff;
				}
				&__txt {
					width: calc(100% - 76px);

					p {
						@include dot(1);
					}
				}
			}
		}
	}
	.side_wrap {
		width: 482px;
		padding: 23px 26px 0 0;

		.side_box {
			height: 100%;

			.weather_wrap {
				text-align: center;
				display: flex;
				align-items: center;
				height: 144px;
				padding: 0 14px;

				& > div {
					position: relative;
					padding: 0 8px;

					& + div:before  {
						@include position-translate(absolute, $t:  50%, $l: 0, $x: 0, $y: -50%);
						content: '';
						width: 1px;
						height: 31px;
						background: $light;
					}
				}
				.today_info {
					flex: .85;

					&__date {
						font-size: 18px;
					}
					&__time {
						margin-top: 6px;
						font-size: 32px;
						font-weight: 800;
					}
				}
				.temp_info {
					display: flex;
					align-items: center;

					&__img {
						width: 86px;
						height: 86px;
					}
					&__txt {
						font-size: 44px;

						.location {
							font-size: 16px;
						}
					}
				}
			}
			.info_wrap {
				height: calc(100% - 161px);
				margin-top: 17px;
				padding: 26px 12px;
				overflow: hidden;

				.title {
					text-align: center;
					font-size: 28px;
				}
				.info_list {
					height: calc(100% - 140px);
					margin-top: 28px;
					overflow-y: auto;

					li {
						margin-top: 18px;

						& + li {
							margin-top: 17px;
						}
						.title_box {
							text-align: left;
							display: flex;
							flex-direction: column;
							width: 100%;
							padding: 16px;
							background: $lightGrey2;
							border-radius: 4px 4px 0px 0px;
							font-size: 26px;

							& > p {
								flex: 1;
								padding: 0 8px 0 32px;
								@include dot(1);
							}
							&__time {
								background: url('/assets/images/icon/clock.png') no-repeat center left;
							}
							&__place {
								margin-top: 14px;
								background: url('/assets/images/icon/conference.png') no-repeat center left;

							}
						}
						.content_box {
							padding: 16px;
							font-size: 24px;
							border: 1px solid $lightGrey1;

							&__title {
								padding-left: 32px;
								background: url('/assets/images/icon/info.png') no-repeat center left;
							}
							&__txt {
								margin-top: 12px;
								padding-left: 32px;
								font-weight: 400;
							}
						}
					}
				}
				.btn_more {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 81px;
					font-size: 28px;
					color: #fff;
					background: $primary url('/assets/images/icon/calender.png') no-repeat 80px center;
				}
			}
		}
	}
}
