html, body {
	font-size: 16px;
}
html.controlFontSize,
body.controlFontSize {
	font-size: 20px;
}

/* ---------------------------------------------
	scrollbar
---------------------------------------------- */
::-webkit-scrollbar {
	width: 20px;
	height: 10px;
	border-radius: 30px;
}
::-webkit-scrollbar-button {
	background: #f9f9f9
}
::-webkit-scrollbar-track-piece {
	background: #f9f9f9
}
::-webkit-scrollbar-thumb {
	background: #bfbfbf
}

/* ---------------------------------------------
	text color
---------------------------------------------- */
.text-danger {
	color: $danger;
}
.brandColor_blue {
	color: $brandColor-blue;
}
.brandColor_green {
	color: $brandColor-green;
}
.brandColor_orange {
	color: $brandColor-orange;
}
.brandColor_yellow {
	color: $brandColor-yellow;
}
.brandColor_purple {
	color: $brandColor-purple;
}

/* ---------------------------------------------
	layout
---------------------------------------------- */
.wrapper {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.container_wrap {
	position: relative;
	width: calc(100% - 360px);
	padding: 0 0 76px 72px;
	overflow: hidden;

	header {
		h1 {
			display: flex;
			align-items: center;
			height: 86px;
			font-size: 28px;
			font-weight: bold;

			&.logo_box {
				width: 94px;

				img {
					width: 100%;
				}
			}
		}
	}
	.content_box {
		position: relative;
		width: 100%;
		height: calc(100% - 86px);
		margin: 0 auto;
		border-radius: 8px;
		background: #EEEEEE;
		overflow: hidden;
		overflow-y: auto;
	}
}
.card_box {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0 50px;

	.card_slider {
		width: 1200px;
		margin: 0 auto;


		&.slick-slider {

			.slick-list {
				margin: 9px;

				.slick-slide {
					margin: 9px;
				}
			}
			.slick-arrow {
				&.slick-prev,
				&.slick-next {
					width: auto;
					height: auto;
				}
				&.slick-prev {
					left: -130px;

					&:before {
						background: url('../images/icon/arrow_angle_left.png') no-repeat center;
						content: '';
						display: block;
						width: 108px;
						height: 108px;
					}
				}
				&.slick-next {
					right: -130px;

					&:before {
						background: url('../images/icon/arrow_angle_right.png') no-repeat center;
						content: '';
						display: block;
						width: 108px;
						height: 108px;
					}
				}
			}
			.slick-dots {
				bottom: -40px;

				li {
					width: 42px;
					height: 12px;

					&.slick-active {
						button:before {
							background: $brandColor-blue;
							opacity: 1;
						}
					}
					button {
						width: 42px;
						height: 12px;

						&:before {
							content: '';
							width: 42px;
							height: 12px;
							background: rgba(0, 0, 0, 0.26);
							border-radius: 30px;
							opacity: 0.4;
						}
					}
				}
			}
		}
	}
}
