.wrapper {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	background: #EEEEEE;
	padding: 23px 26px 0 25px;

	& > section {
		position: relative;
	}
	.container_wrap {
		width: calc((100% - 456px) - 18px);
		margin-right:18px;
		border: 1px solid red;

		.logo {
			margin: 20px 33px;
		}
		.content_wrap {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.navigation_wrap {
			@include position-translate(absolute, $b:101px, $l:50%, $x:-50%, $y:0);

			.gnb_wrap {
				position: relative;
				display: flex;

				& > .gnb {
					position: relative;
					text-align: center;
					width: 281px;
					height: 102px;
					line-height: 102px;
					font-size: 36px;

					& + .gnb:before {
						@include position-translate(absolute, $t:  50%, $l: 0, $x: 0, $y: -50%);
						content: '';
						width: 1px;
						height: 31px;
						background: $light;
					}
					&:first-child {
						width: 102px;
					}
					&.active {
						background: $warning;
					}
					&.floor {
						/*
						&:after {
							content: '';
							@include position-translate(absolute, $t: -87px, $l: 50%, $x: -50%, $y: 0);
							background: #fff;
							box-shadow: $box-shadow;
							width: 0px;
							height: 0px;
							border-top: 21px solid transparent;
							border-bottom: 21px solid #fff;
							border-right: 21px solid #fff;
							border-left: 21px solid  transparent;
							transform: rotate(45deg);
						}
						*/
					}
					a {
						display: block;
					}
				}
			}
			.lnb_wrap {
				@include position-translate(absolute, $t:-136px, $l:0, $x:-50%, $y:0);
				display: flex;
				align-items: center;
				height: 88px;
				padding: 8px 7px;
				overflow: hidden;

				& > .lnb {
					width: 88px;
					height: 72px;
					line-height: 72px;
					font-size: 30px;
					font-weight: 800;
					border-radius: 3px;

					&.active {
						background: $warning;
					}
					a {
						display: block;
					}
				}
			}
		}
		.control_wrap {
			@include position-translate(absolute, $t: 50%, $l: 0, $x: 0, $y: -50%);
			text-align: center;
			width: 88px;

			.control_box {

				button {
					width: 88px;
					height: 88px;

					&.control_text {
						width: 88px;
						margin-top: 16px;
					}
				}
			}
		}
		.info_wrap {
			@include position-translate(absolute, $b:0, $l:50%, $x:-50%, $y:0);
			width: 98%;

			.info_box {
				display: flex;
				align-items: center;
				padding: 12px;
				background: $brand2;
				font-size:30px;
				border-radius: 10px 10px 0 0;

				&__icon {
					display: flex;
					align-items: center;
					justify-content: center;
					@include box-circle(56px);
					margin-right:  17px;
					background: #fff;
				}
				&__txt {
					width: calc(100% - 76px);

					p {
						@include dot(1);
					}
				}
			}
		}
	}
	.side_wrap {
		width: 456px;

		.side_box {

			.weather_wrap {
				text-align: center;
				display: flex;
				align-items: center;
				height: 144px;
				padding: 0 14px;

				& > div {
					position: relative;
					padding: 0 8px;

					& + div:before  {
						@include position-translate(absolute, $t:  50%, $l: 0, $x: 0, $y: -50%);
						content: '';
						width: 1px;
						height: 31px;
						background: $light;
					}
				}
				.today_info {
					flex: .85;

					&__date {
						font-size: 18px;
					}
					&__time {
						margin-top: 6px;
						font-size: 32px;
						font-weight: 800;
					}
				}
				.temp_info {
					display: flex;
					align-items: center;


					&__img {
						width: 86px;
						height: 86px;
					}
					&__txt {}
				}
			}
			.info_wrap {
				margin-top: 17px;
				padding: 16px 12px;

				.title {

				}
				.info_list {

					li {
						margin-top: 18px;

						& + li {
							margin-top: 17px;
						}
						.btn {
							display: flex;
							align-items: center;
							width: 100%;
							height: 86px;
							padding: 0 15px;
							background: $lightGrey1;
							border-radius: 4px 4px 0px 0px;
							font-size: 26px;

							& > p {
								position: relative;
								text-align: left;
								flex: 1;

								& + p:before  {
									@include position-translate(absolute, $t:  50%, $l: 0, $x: 0, $y: -50%);
									content: '';
									width: 1px;
									height: 31px;
									background: $light;
								}
							}
							&__time {
								padding: 0 8px 0 32px;
								background: url('/assets/images/icon/clock.png') no-repeat center left;
							}
							&__place {
								padding: 0 8px 0 40px;
								background: url('/assets/images/icon/conference.png') no-repeat 8px center;

							}
						}
					}
				}
			}
		}
	}
}
