.main {
	text-align: center;
	width: 100%;

	.visual_wrap {
		.slick-slide {
			img {
				margin: 0 auto;
			}
		}
		.slick-dots {
			display: flex !important;
			align-items: center;
			justify-content: center;
			margin-top: 17px;

			li {
				width: 8px;
				height: 8px;
				margin: 0 3px;
				text-indent: -99px;
				border-radius: 6px;
				background: rgba($black, .22);
				overflow: hidden;
			}
			.slick-active {
				width: 24px;
				background: $info;
			}
		}
	}
}
