.floor_page {

	.floor_list {
		& > li {
			display: flex;
			margin-bottom: 10px;

			.floor {
				text-align: center;
				width: 170px;
				padding: 20px;

				h3 {
					font-size: 50px;
					font-weight: 800;
					color: #2460AF;
				}
				&__icon {
					margin-top: 10px;
				}
			}
			.room {
				display: flex;
				flex-direction: column;
				width: calc(100% - 170px);
				padding: 24px;

				&__eroom {
					display: flex;
					padding: 20px;
					font-size: 24px;

					& > li {
						width: 180px;
					}
					/*
					& + li {
						margin-left: 16px;
					}
					*/
				}
				&__company {
					display: flex;
					padding: 20px;

					& > li {
						display: flex;
						width: calc(100% / 3);

						.company {
							line-height: 160%;
							margin-left: 14px;
							font-size: 18px;

							&__title {
								margin-bottom: 10px;
								font-size: 22px;
								font-weight: bold;
							}
						}

						& + li {
							//margin-left: 16px;

							&:before {
								content: '';
								width: 1px;
								heigth: 110px;
								margin-right: 16px;
								background: $light;
							}
						}
					}
				}
				&__eroom + &__company {
					margin-top: 20px;
				}
			}
		}
	}
}
