input::placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::placeholder,
textarea:-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-webkit-input-placeholder{
	color: $lightGrey1 !important;
	font-size: 16px;
}

textarea{
	resize: none;
	padding: $base-space-2x;
}


.checkbox{
	display: none;
}
.checkbox + label span{
	display: inline-block;
	vertical-align: -6px;
	width: $base-space-3x;
	height: $base-space-3x;
	// background: url('~@/assets/images/icon/ic_checkbox.svg') left top no-repeat;
}
.checkbox:checked + label span{
	// background: url('~@/assets/images/icon/ic_checkbox_on.svg') left top no-repeat;
}

.radiobox{
	display: none;
}
.radiobox + label span{
	display: inline-block;
	vertical-align: -6px;
	width: $base-space-3x;
	height: $base-space-3x;
	background: none;
}
.radiobox:checked + label span{
	// background: url('~@/assets/images/icon/ic_check_circle.svg') left top no-repeat;
}
