.popup {
	@include position(fixed, $t:0, $l:0, $r:0, $b:0);
	z-index: 9999;
	
	&__mask {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $black;
		opacity: .3;
	}
	&__content {
		@include position-center();
		width: 300px;
		padding: 20px;
		background: $white;
		border-radius: $base-radius;
		z-index: 99;
	}
}
.mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $black;
	opacity: .3;
}
.mask-white {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
	opacity: .5;
}
