.popup_wrap {
	display: none;
	@include position(fixed, $t: 0, $l: 0, $b: 0, $r: 0);
	z-index: 10;
	background: rgba(0,0,0,.5);

	.popup_box {
		@include position-translate(absolute, $t: 50%, $l: 120px, $x: 0, $y: -50%);
		width: calc(100% - 172px);
		height: 95%;
		padding: 0 26px;
		border-top: 8px solid $brandColor-yellow;
		background: #fff;
		box-shadow: $box-shadow-2;
		border-radius: 8px;

		&__header {
			text-align: center;
			display: flex;
			align-items: center;
			height: 85px;
			font-size: 32px;

			h2 {
				font-size: 32px;
			}
		}
		&__container {
			height: calc(100% - 202px);
			//border: 1px solid #DDDDDD;
			background: $lightGrey2;
			overflow-y: auto;
		}
		&__footer {
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 118px;

			.btn {
				width: 235px;
				height: 72px;
				font-size: 1.875rem; /* 30px */
				font-weight: 800;
				border-radius: 3px;
			}
			.btn_close {
				border: 1px solid #444444;
			}
		}
	}
}
