@mixin mask ($active:'off') {
	@if $active == 'off' {
		@include position(fixed,0,0,0,0);
		content: '';
		background-color: rgba(0, 0, 0, 0.7);
		transition: all .3s;
		visibility: hidden;
		opacity: 0;
	} @else {
		transition-delay: 0.15s;
		visibility: visible;
		opacity: 1;
	}
}
