@mixin scroll($type,$width:null,$height:null){
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	@if $type == x {
		width:100%;
		padding-bottom:3px;/* 스크롤이 컨텐츠 가려서 추가함 */
		overflow-x:auto;
		white-space:nowrap;
	}@else if $type == y {
		width:100%;
		height:$height;
		overflow-y:auto;
	}@else if $type == both {
		width:$width;
		height:$height;
		overflow:auto;
	}
}
