@mixin switch(){
	.input_switch {
		display:none;
	}
	.label_switch {
		position:relative;
		display:block;
		-webkit-appearance:none;
		width:28px;
		height:12px;
		margin:4px 0;
		background:$lightGrey1;
		outline:none;
		cursor:pointer;
		@include vendorPrefix(border-radius,30px);
		@include vendorPrefix(transition,0.2s);
		
		&:before {
			content:'';
			@include position-translate(absolute,$t:-2px,$l:-1px);
			height:$base-space-3x;
			width:$base-space-3x;
			background:#828282;
			z-index:1;
			@include vendorPrefix(border-radius,$base-space_2x);
			@include vendorPrefix(animation,uncheck 0.1s linear);
			@include vendorPrefix(transform-origin,0 0);
		}
	}
	.input_switch:checked + .label_switch {
		&:before {
			background:$primary_gradient;
			@include vendorPrefix(transform,translateX(12px));
			@include vendorPrefix(animation,check 0.1s linear);
			@include vendorPrefix(transform-origin,100% 0);
		}
	}
	@keyframes uncheck {
		0% {
			transform:translateX(12px);
		}
		100% {
			transform:translateX(0px);
		}
	}
	@-webkit-keyframes uncheck {
		0% {
			-webkit-transform:translateX(12px);
		}
		100% {
			-webkit-transform:translateX(0px);
		}
	}
	@-moz-keyframes uncheck {
		0% {
			-moz-transform:translateX(12px);
		}
		100% {
			-moz-transform:translateX(0px);
		}
	}
	@keyframes check {
		0% {
			transform:translateX(0);
		}
		100% {
			transform:translateX(12px);
		}
	}
	@-webkit-keyframes check {
		0% {
			-webkit-transform:translateX(0);
		}
		100% {
			-webkit-transform:translateX(12px);
		}
	}
	@-moz-keyframes check {
		0% {
			-moz-transform:translateX(0);
		}
		100% {
			-moz-transform:translateX(12px);
		}
	}
}

